ion-content, ion-list, ion-item {
  --background: var(--ion-color-dark);
  --ion-background-color: var(--ion-color-dark);
}
audio { 
  width: 600px; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}